
<div id="body-registro">
    <p>REGISTRO</p>
    <form class="form-body">
        <input type="text" placeholder="Nombre">
    </form>
    <form class="form-body">
        <input type="text" placeholder="Apellido">
    </form>
    <form class="form-body">
        <input type="text" placeholder="Fecha de nacimiento: Dia-Mes-Año">
    </form>
    <form class="form-body">
        <select class="form-select borde-radius" id="validationDefault04" placeholder="Seleccione su genero...">
            <option>Seleccione su genero...</option>
            <option>Mujer</option>
            <option>Hombre</option>
        </select>
    </form>
    <form class="form-body">
        <input type="email" placeholder="Correo electronico">
    </form>
    <form class="form-body">
        <input type="password" placeholder="Contraseña">
    </form>
    <form class="form-body">
        <input type="password" placeholder="Repita Contraseña">
    </form>
    <button id="btn-registrado" (click)="registrado()"><b>Registrar</b></button>
</div>