<p>Recomendaciones en colombia</p>

<div class="row">
    <div class="card col-3" style="width: 18rem;">
        <img src="/img/barranquilla.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Barranquilla</h5>
            <p class="card-text">Es la capital del departamento Atlántico de Colombia y es un desbordante puerto marino, bordeado por el río Magdalena. La ciudad es conocida por su enorme Carnaval.</p>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
    </div>
    
    <div class="card col-3" style="width: 18rem;">
        <img src="/img/cartagena.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Cartagena</h5>
            <p class="card-text">Es una ciudad portuaria en la costa caribeña de Colombia. Junto al mar, se encuentra la Ciudad Vieja amurallada, que se fundó en el siglo XVI.</p>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
    </div>

    <div class="card col-3" style="width: 18rem;">
        <img src="/img/Panorámica_de_San_Andres.JPG" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">San andres</h5>
            <p class="card-text">Es una pequeña isla colombiana frente a Nicaragua en el Caribe. Es famosa por sus playas de arena blanca, cocoteros, aguas claras y centros turísticos con todo incluido.</p>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
    </div>
    
    <div class="card col-3" style="width: 18rem;">
        <img src="/img/santa martha.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Santa Marta</h5>
            <p class="card-text">Es una ciudad ubicada en el mar Caribe, en el departamento de Magdalena en el norte de Colombia. Es un puerto ajetreado que también fue el primer asentamiento español en Colombia.</p>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
    </div>
</div>
